<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380147320699-4ld2ebs76htqmpfjdk9rqk1tnsuiuh78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380147320699-4ld2ebs76htqmpfjdk9rqk1tnsuiuh78</string>
	<key>API_KEY</key>
	<string>AIzaSyBDxlesR5UmQ607TXJqPRWLBvMbusmSApQ</string>
	<key>GCM_SENDER_ID</key>
	<string>380147320699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inCheckIn</string>
	<key>PROJECT_ID</key>
	<string>in-check-in</string>
	<key>STORAGE_BUCKET</key>
	<string>in-check-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380147320699:ios:9ebf3c83ea6545ec369fde</string>
</dict>
</plist>